<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.golfzon.golftok.mapper.LoginMapper">

	<resultMap id="usersResult" type="com.golfzon.golftok.model.TokUsers">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name" />
		<result property="userNickname" column="user_nickname" />
		<result property="userPassword" column="user_password" />
		<result property="userIcon" column="user_icon" />
		<result property="introductionMessage" column="introduction_message" />
		<result property="userAge" column="user_age" />
		<result property="userGrade" column="user_grade" />
		<result property="followingCount" column="following_count" />
		<result property="followerCount" column="follower_count" />
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="registerUser" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="userId" order="BEFORE">
			select MAX(user_id)+1 from tok_users
		</selectKey>
		insert into tok_users values
		(#{userId},#{userName},#{userPassword},#{userNickname},#{userIcon},
		#{introductionMessage},#{userAge},'참새',0,0)
	</insert>
	
</mapper>