<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.golfzon.golftok.mapper.PostMapper">
	<resultMap id="usersResult" type="com.golfzon.golftok.model.TokUsers">
		<id property="userId" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="userNickname" column="user_nickname" />
		<result property="userPassword" column="user_password" />
		<result property="userIcon" column="user_icon" />
		<result property="introductionMessage" column="introduction_message" />
		<result property="userGrade" column="user_grade" />
		<result property="followingCount" column="following_count" />
		<result property="followerCount" column="follower_count" />
		<result property="roleModel" column="role_model" />
		<result property="handicap" column="handicap" />
	</resultMap>

	<resultMap id="postsResult" type="com.golfzon.golftok.model.TokPosts">
		<id property="postId" column="post_id" />
		<result property="userId" column="user_id" />
		<result property="postContent" column="post_content" />
		<result property="videoRoot" column="video_root" />
		<result property="uploadDate" column="upload_date" />
		<result property="likeCount" column="like_count" />
		<result property="commentCount" column="comment_count" />
		<result property="locations" column="locations" />
		<result property="postThumbnail" column="post_thumbnail" />
		<result property="golfClub" column="golf_club" />
	</resultMap>

	<resultMap id="nasmoResult" type="com.golfzon.golftok.model.Nasmo">
		<id property="nasmoId" column="nasmo_id" />
		<result property="userId" column="user_id" />
		<result property="videoRoot" column="video_root" />
		<result property="nasmoThumbnail" column="nasmo_thumbnail" />
	</resultMap>

	<resultMap id="followResult" type="com.golfzon.golftok.model.Follow">
		<id property="followId" column="follow_id" />
		<result property="userId" column="user_id" />
		<result property="friendId" column="friend_id" />
	</resultMap>

	<resultMap id="hashtagResult"
		type="com.golfzon.golftok.model.Hashtag">
		<id property="hashtagId" column="hashtag_id" />
		<result property="postId" column="post_id" />
		<result property="hashtagContent" column="hashtag_content" />
	</resultMap>


	<select id="getAllPosts" parameterType="com.golfzon.golftok.model.Criteria" resultType="HashMap">
		select 
			*
		from (
			select 
				post_id as postId
				, post_content as postContent
				, video_root as videoRoot
				, like_count as likeCount
				, comment_count as commentCount
				, golf_club as golfClub
				, CONVERT(CHAR(10), upload_date, 23) as uploadDate
				, post_thumbnail as postThumbnail
				, locations,u.user_id as userId
				, u.user_name as userName
				, u.user_icon as userIcon
				, u.user_nickname as userNickname
				, u.handicap
				, u.user_grade as userGrade
				, u.role_model as roleModel
			from 
				tok_users u with(nolock)
				inner join
				tok_posts p with(nolock) on u.[user_id]=p.[user_id]
			where
				(like_count!=0 or comment_count!=0) and
				upload_date<![CDATA[ >= ]]>(select DATEADD(dd,-7,getdate()))
			order by like_count DESC,comment_count DESC
			OFFSET #{startIndex} ROW FETCH NEXT #{recordsPerPage} ROW ONLY
		) as A
		order by newid()
	</select>
	
	<!-- postId로 post 가져오기 -->
	<select id="getPostByPostId" parameterType="int" resultType="HashMap">
		select
			post_id as postId
			, post_content as postContent
			, video_root as videoRoot
			, like_count as likeCount
			, comment_count as commentCount
			, golf_club as golfClub
			, CONVERT(CHAR(10), upload_date, 23) as uploadDate
			, post_thumbnail as postThumbnail
			, locations
			, u.user_id as userId
			, u.user_name as userName
			, u.user_icon as userIcon
			, u.user_nickname as userNickname
			, u.user_grade as userGrade
			, u.handicap
			, u.role_model as roleModel
		from
			tok_users u with(nolock)
			inner join
			tok_posts p with(nolock) on u.[user_id]=p.[user_id]
		where
			post_id=#{postId}
	</select>

	<!-- 내 나스모 영상 보기 -->
	<select id="getNasmo" parameterType="int" resultType="HashMap">
		select 
			nasmo_id as nasmoId
			, video_root as videoRoot
			, nasmo_thumbnail as nasmoThumbnail
		from 
			nasmo with(nolock)
		where 
			user_id=#{userId}
	</select>
	
	<!-- 동영상(게시물) 올리기 -->
	<insert id="insertPost" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="postId" order="BEFORE">
			select 
				MAX(post_id)+1 
			from 
				tok_posts with(nolock)
		</selectKey>
		insert into 
			tok_posts 
		values
			(#{postId},#{userId},#{postContent},#{videoRoot},getdate(),0,0,#{locations},#{postThumbnail},#{golfClub})
	</insert>
	
	<!-- 이 전 게시물 id 받아오기 -->
	<select id="getPreviousPostId" parameterType="HashMap" resultType="int">
		select
			top 1
			post_id
		from 
			tok_posts p with(nolock)
			inner join
			tok_users u with(nolock)  on u.[user_id] = p.[user_id]
		where
			post_id <![CDATA[ < ]]> #{postId} and
			u.user_id=#{userId}
		order by
			post_id desc
	</select>
	
	<!-- 이 후 게시물 id 받아오기 -->
	<select id="getNextPostId" parameterType="HashMap" resultType="int">
		select
			top 1
			post_id
		from 
			tok_posts p with(nolock)
			inner join
			tok_users u with(nolock)  on u.[user_id] = p.[user_id]
		where
			post_id <![CDATA[ > ]]> #{postId} and
			u.user_id=#{userId}
		order by
			post_id desc
	</select>
	
	<!-- 게시물(동영상) 상세보기 -->
	<select id="getDetailPost" parameterType="HashMap" resultType="HashMap">
		select
			post_id as postId
			, post_content as postContent
			, video_root as videoRoot
			, like_count as likeCount
			, comment_count as commentCount
			, golf_club as golfClub
			, CONVERT(CHAR(10), upload_date, 23) as uploadDate
			, post_thumbnail as postThumbnail
			, locations
			, u.user_id as userId
			, u.user_name as userName
			, u.user_icon as userIcon
			, u.user_nickname as userNickname
			, u.handicap
			, u.role_model as roleModel
			, u.user_grade as userGrade
			<if test="prevPostId!=null">,#{prevPostId} as previousPostId</if>
			<if test="prevPostId==null">,#{postId} as previousPostId</if>
			<if test="nextPostId!=null">,#{nextPostId} as nextPostId</if>
			<if test="nextPostId==null">,#{postId} as nextPostId</if>
		from
			tok_users u with(nolock)
			inner join
			tok_posts p with(nolock) on u.[user_id]=p.[user_id]
		where
			post_id=#{postId}
	</select>

	<!-- 게시물 수정 -->
	<update id="updatePost" parameterType="HashMap">
		update 
			tok_posts
		set 
			post_content=#{postContent}
			, video_root=#{videoRoot}
			, locations=#{locations}
			, post_thumbnail=#{postThumbnail}
			, golf_club=#{golfClub}
		where 
			post_id=#{postId}
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deletePost" parameterType="int">
		delete 
		from 
			tok_posts
		where 
			post_id=#{postId}
	</delete>
	
	
	<!-- userId로 모든 게시물 가져오기 -->
	<select id="getAllUserPosts" parameterType="int" resultType="HashMap">
		select 
			post_id as postId
			, post_thumbnail as postThumbnail
		from  
			tok_posts with(nolock)
		where 
			user_id=#{userId}
	</select>
	
	<!-- postId로 userId 가져오기 -->
	<select id="getUserIdByPostId" parameterType="int" resultType="int">
		select
			user_id
		from
			tok_posts with(nolock)
		where 
			post_id=#{postId}
	</select>
	
	<!-- Content hashtag 삽입 -->
	<insert id="insertContentHashTag" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="hashtagId" order="BEFORE">
			select 
				MAX(hashtag_id)+1 
			from 
				hashtag with(nolock)
		</selectKey>
		insert into 
			hashtag 
		values
			(#{hashtagId},#{postId},#{hashtagContent})
	</insert>
	
	<!-- golfClub 해시태그 삽입 -->
	<insert id="insertGolfClubHashTag" parameterType="HashMap">
		<selectKey resultType="integer" keyProperty="hashtagId" order="BEFORE">
			select 
				MAX(hashtag_id)+1 
			from 
				hashtag with(nolock)
		</selectKey>
		insert into 
			hashtag 
		values
			(#{hashtagId},#{postId},#{golfClubHashtag})
	</insert>
	
	<!-- userId,postContent로 postId 가져오기 -->
	<select id="getPostIdByContentAndId" parameterType="HashMap" resultType="int">
		select 
			post_id
		from 
			tok_posts with(nolock)
		where 
			post_content=#{postContent} and
			golf_club=#{golfClub} and
			user_id=#{userId}
	</select>
	
	<!-- 해시태그(#)로 게시물 검색 -->
	<select id="searchPosts" parameterType="String" resultType="HashMap">
		select 
			post_id as postId
			, like_count as likeCount
			, comment_count as commentCount
			, post_thumbnail as postThumbnail
		from 
			tok_posts with(nolock)
		where 
			post_id in (
				select 
					post_id
				from 
					hashtag with(nolock)
				where 
					hashtag_content=#{keyword}
			)
	</select>
	
	<!-- 게시물 좋아요 수 가져오기 -->
	<select id="getPostLikeCount" parameterType="int" resultType="int">
		select 
			like_count
		from 
			tok_posts with(nolock)
		where 
			post_id=#{postId}
	</select>
	
	<!-- 프로필 페이지 게시물 가져오기 -->
	<select id="getProfilePosts" parameterType="int" resultType="HashMap">
		select
			post_id as postId,
			post_thumbnail as postThumbnail
		from
			tok_posts with(nolock)
		where
			user_id=#{userId}
	</select>
	
	<!-- 일주일 간의 인기 해시태그 5개 추천 -->
	<select id="getFiveRecommendedHashtag" resultType="HashMap">
		select
			hashtagContent
		from (
			select
				TOP 5
				hashtag_content as hashtagContent,
				count(hashtag_content) hashtagCount
			from
				(
					select
						hashtag_content
					from
						hashtag h with(nolock)
						inner join 
						tok_posts as p with(nolock) on h.[post_id]=p.[post_id]
					where
						upload_date<![CDATA[ >= ]]>(select DATEADD(dd,-7,getdate()))
				) as A
			GROUP BY hashtag_content
			HAVING COUNT(hashtag_content) <![CDATA[ >= ]]> 1
			order by hashtagCount DESC
		) as B
	</select>
</mapper>